<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../images/favicon.ico">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../css/main.css">
    <link href="https://cdn.bootcss.com/highlight.js/9.13.1/styles/a11y-light.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/highlight.js/9.13.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

</head>

<body>
    <div id="to-top" onclick="toTop()">
        <img src="../images/top.png" alt="top">
    </div>

    <div class="blog-box">
        <div class="blog-name">
            右灵
        </div>
        <div class="blog-subtitle">
            若能换一瞥无心，只与你听的驼铃。
        </div>
        <div class="blog-link">
            <a href="../index">文章</a>
            <span class="link-seperate">/</span>
            <a href="../about">关于</a>
            <span class="link-seperate">/</span>
            <a href="../link">友链</a>
        </div>
    </div>

    <div class="blog-page-box">
        <div class="blog">
            {{ text | safe }}
        </div>
    </div>

    <div class="footer">
        Copyright © 2018 - 2020 u1in. All rights reserved. Blog made by <a href="https://github.com/U1in/u1in-blog" target="_blank">u1in</a>.
    </div>
    <script type="text/javascript">
        window.onload = function() {
            window.onscroll =  function () {
                let top
                if (document.documentElement && document.documentElement.scrollTop) {
                    top = document.documentElement.scrollTop
                }
                else if (document.body) {
                    top = document.body.scrollTop
                }
                if(top > 300) {
                    document.getElementById('to-top').style.opacity = 1
                }
                else {
                    document.getElementById('to-top').style.opacity = 0
                }
            }
        }
        function toTop() {
            document.body.scrollIntoView({
                behavior: "smooth",
                block: "start",
            });
        }
    </script>
</body>

</html>